/**
 * Browny
 * icons for blocks 
 */

/* block-icon */
div.block-icon {
  height: 48px;
  left: 0;
  position: absolute;
  top: -0.666em;
  width: 48px;
}

/*--- BLOG BLOCKS ---*/
div.block-blog div.block-icon {
  background: transparent url('icons/tnt_icon_01.png') no-repeat left center;
}

#block-blog-0 div.block-icon,
body.layout-main-last #sidebar-last #block-blog-0 h2.block-title {
  background: transparent url('icons/tnt_icon_02.png') no-repeat left center;
}

/*--- BOOK BLOCK ---*/
#block-book-0 div.block-icon,
body.layout-main-last #sidebar-last #block-book-0 h2.block-title {
  background: transparent url('icons/tnt_icon_07.png') no-repeat left center;
}

/*--- COMMENTS & FORUMS BLOCKS ---*/
div.block-comment div.block-icon,
div.comments-block-icon,
#block-views-comments_recent-block div.block-icon {
  background: transparent url('icons/tnt_icon_01.png') no-repeat left center;
}

div.block-forum div.block-icon,
body.layout-main-last #sidebar-last div.block-comment h2.block-title,
body.layout-main-last #sidebar-last div.block-forum h2.block-title,
body.layout-main-last #sidebar-last #block-views-comments_recent-block h2.block-title {
  background: transparent url('icons/tnt_icon_06.png') no-repeat left center;
}

/*--- DEVEL BLOCK ---*/
#block-menu-devel div.block-icon,
body.layout-main-last #sidebar-last #block-menu-devel h2.block-title {
  background: transparent url('icons/tnt_icon_12.png') no-repeat left center;
}

/*--- MENU BLOCK ---*/
div.block-menu div.block-icon,
body.layout-main-last #sidebar-last div.block-menu h2.block-title {
  background: transparent url('icons/tnt_icon_13.png') no-repeat left center;
}

/*--- SEARCH BLOCK ---*/
div.block-search div.block-icon,
body.layout-main-last #sidebar-last div.block-search h2.block-title {
  background: transparent url('icons/tnt_icon_15.png') no-repeat left center;
}

div.block-search h2.block-title {
  padding-left: 3.125em;
}

/*--- USER BLOCK ---*/
div.block-user div.block-icon,
body.layout-main-last #sidebar-last div.block-user h2.block-title {
  background: transparent url('icons/tnt_icon_08.png') no-repeat left center;
}

/*--- USER LOGIN BLOCK ---*/
#block-user-0 div.block-icon,
body.layout-main-last #sidebar-last #block-user-0 h2.block-title {
  background: transparent url('icons/tnt_icon_14.png') no-repeat left center;
}

/*--- VIEWS DEFAULT BLOCKS ---*/
#block-views-archive-block div.block-icon,
body.layout-main-last #sidebar-last #block-views-archive-block h2.block-title {
  background: transparent url('icons/tnt_icon_07.png') no-repeat left center;
}

/* remove block icons for preface blocks & layout-main-last #sidebar-last */
#preface-wrapper div.block div.block-icon,
body.layout-main-last #sidebar-last div.block div.block-icon,
#footer div.block div.block-icon {
  background: none;
}

/*----------- BLOCK-TITLE -------------*/
/* targeting body.layout-main-last #sidebar-last block-title */

/* BLOG BLOCKS*/
body.layout-main-last #sidebar-last #block-blog-0 h2.block-title {
  background-position: left -1px;
}

/* BOOK BLOCKS */
body.layout-main-last #sidebar-last #block-book-0 h2.block-title {
  background-position: left -1px;
}

/* COMMENTS BLOCKS */
body.layout-main-last #sidebar-last div.block-comment h2.block-title {
  background-position: left -1px;
}

/* DEVEL BLOCKS */
body.layout-main-last #sidebar-last #block-menu-devel h2.block-title {
  background-position: left -1px;
}

/* FORUM BLOCKS */
body.layout-main-last #sidebar-last div.block-forum h2.block-title {
  background-position: left -1px;
}

/* MENU BLOCKS */
body.layout-main-last #sidebar-last div.block-menu h2.block-title {
  background-position: left -1px;
}

/* SEARCH BLOCK */
body.layout-main-last #sidebar-last div.block-search h2.block-title {
  background-position: left -1px;
  margin: 0 0 4px;
}

/* USER BLOCKS */
body.layout-main-last #sidebar-last div.block-user h2.block-title {
  background-position: left -1px;
}

/* USER LOGIN BLOCK */
body.layout-main-last #sidebar-last #block-user-0 h2.block-title {
  background-position: left -1px;
}

/* VIEWS BLOCKS */
body.layout-main-last #sidebar-last #block-views-archive-block h2.block-title {
  background-position: left -1px;
}

body.layout-main-last #sidebar-last #block-views-comments_recent-block h2.block-title {
  background-position: left -1px;
}

/* group the block-title padding styles together for layout-main-last #sidebar-last */
body.layout-main-last #sidebar-last #block-blog-0 h2.block-title,
body.layout-main-last #sidebar-last #block-book-0 h2.block-title,
body.layout-main-last #sidebar-last div.block-comment h2.block-title,
body.layout-main-last #sidebar-last div.block-forum h2.block-title,
body.layout-main-last #sidebar-last div.block-menu h2.block-title,
body.layout-main-last #sidebar-last #block-menu-devel h2.block-title,
body.layout-main-last #sidebar-last div.block-search h2.block-title,
body.layout-main-last #sidebar-last div.block-user h2.block-title,
body.layout-main-last #sidebar-last #block-user-0 h2.block-title,
body.layout-main-last #sidebar-last #block-views-archive-block h2.block-title,
body.layout-main-last #sidebar-last #block-views-comments_recent-block h2.block-title {
  padding: 12px 0 0 52px;
}


/**
 * HOW TO ADD ICONS TO BLOCKS
 *
 * Below is an example of adding an icon to a custom block.
 * To add an icon to your custom block follow these steps:
 * 1. Place your 48x48 icon into the icons folder that came with the theme
 * 2. Copy & paste the example below into the theme's local.css file
 * 3. Find your block's id & delta (e.g., block-block-1) - use Firebug!
 * 4. Replace the block id & delta with the id & delta of the custom block you want to add an icon to
 * 5. Add the name of your icon file to the block's background url (e.g., url('icons/name-of-icon.png'))
 * 
 * NOTE: When upgrading to a newer version of this theme, changes made to this file will be overwritten.
 * You should put your custom block & icon styles in local.css (see: the local_sample.css file for more details).

#block-block-1 div.block-icon {
  background: transparent url('icons/name-of-icon.png') no-repeat left center;
}

*/
