/**
 */

/******************************************/
/*  TopNotchThemes CSS Stylesheet         */
/*  by Chris Fassnacht & Stephanie Pakrul */
/*  copyright 2008 Collective Mind        */
/******************************************/

/***************************/
/* RESET MARGINS & PADDING */
/***************************/

html, body, div, span,
p, blockquote, pre, code,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}


/**************/
/* TYPOGRAPHY */
/**************/

body { 
  color:#000;
  background-color:#FFF;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;     /* web safe fonts */
  font-size: 75%;    /* 12px */
  font-weight: normal;
  line-height: 160%;    /* 19.2px */
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 0.8em;
  font-weight: bold;
}


/*****************/
/* DEFAULT LINKS */
/*****************/

a {
  color: #27638C;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {
  color: #27638C;
}  

a:hover,
a:active {
  text-decoration: underline;
}


/**********/
/* LAYOUT */
/**********/

html {
  background: #FFF;                               /* background & font color */
  color:#000;
}

#page {
  /*background-color: #F4F7E7;*/
  background-color: #382E22;
  color: #FFF;
  margin: 0;
  width: 100%;
}

#page a,
#page a:link,
a:visited {
  color: #FFF;
}  

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 160%;
  margin: 10px 0;
}


/*********/
/* LISTS */
/*********/

ul,
ul.menu {
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ol li,
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  margin: 0.15em 0 0.15em 0.5em;
}

ul li,
ul.menu li,
.item-list ul li,
li.leaf {
  background: transparent url('images/raquo.png') no-repeat left 0.833em;
  list-style-image: none;
  list-style-type: none;
  padding: 0.2em 0 0 1.333em;
}

#sidebar-first ul li,
#sidebar-first ul.menu li,
#sidebar-first .item-list ul li,
#sidebar-first li.leaf {
   background: transparent url('images/green-bullet.png') no-repeat left 0.333em;
  list-style-image: none;
  list-style-type: none;
  padding: 0 0 0 1.666em;
}

div.block ul {
  padding: 0 0 3px;
}

ul.links li,
ul.links.inline {
  background: transparent;
}

ul.menu li.expanded ul.menu {    /* indenting sub menu items when expanded */
  margin: 0 0 0 14px;
}

/* remove list styling on login block and taxonomy */
#user-login-form div.item-list ul li,
div.terms ul li {
  list-style-type: none;
  margin: 0;
}

/* adjust openid link */
html.js #user-login-form li.openid-processed, 
html.js #user-login li.openid-processed {
  font-weight: bold;
  list-style-type: none;
  margin: 10px 0 0 -6px;
  padding-left: 20px;
  padding-top: 0.2em
}

#preface-wrapper div.block ul li {
  background: transparent url('images/green-checkmark.png') no-repeat 0 0.222em;
  list-style-image: none;
  list-style-type: none;
  padding: 1em 0 0 2.222em;
}

#preface-wrapper div.block ol li {
  list-style-image: none;
  padding: 2px 0;
}

body.layout-main-last #sidebar-last li.leaf,
body.layout-main-last #sidebar-last ul.menu li,
body.layout-main-last #sidebar-last .item-list ul li,
#content-content ul li,
#content-bottom ul li {
  background: transparent url('images/green-bullet.png') no-repeat left 0.333em;
  list-style-image: none;
  list-style-type: none;
  padding: 0 0 0 1.666em;
}


/********/
/* MISC */
/********/

hr {
  border: 1px solid #D6DDB9;
}

div.content a.feed-icon img,
div.content th img {
  border: 0;             /* remove image borders where we don't want them */
}

/* format initial startup page list nicely */
#first-time p {
  clear: left;
}

#first-time ol {
  list-style-position: outside;
  margin-left: 2em;
}

#block-views-tweets-block {
  background: transparent url(icons/twitter1.png) no-repeat scroll 0px -5px;
}
#block-views-tweets-block  h2{
  padding:15px 0 0 65px;
}

/********************/
/* ALL PAGE REGIONS */
/********************/

/******************/
/* HEADER REGIONS */
/******************/

#header {
  /*background-color: #fff;*/
  padding-left: 15px;
}

#header-wrapper {
  background-color: inherit;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#search-box {
  background: transparent url(images/rb_br01.gif) repeat right top;
  border: 0px solid #CCCCCC;
  float: right;
  padding: 8px;
  height:25px;
  position: relative;
  top: 0;
  
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;  
}
#login-box {
  height:25px;
  background: transparent url(images/rb_br01.gif) repeat right top;
  border: 0px solid #CCCCCC;
  float: right;
  padding: 8px;
  margin-left:10px;
  text-align:center;
  position: relative;
  top: 0;
  width: 12em;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; 
}

#edit-search-theme-form-1 {
  background:#422F22 none repeat scroll 0 0;
  width: 170px;
  border: 0px;
  color:#FFF;
}

/* theming for header search box */
#search-box input.form-submit {
  background: #422F22 none repeat scroll 0 0;
  border: 0px;
  color: #FFF;
  cursor: pointer; 
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  padding: 3px 3px 2px;
  outline: none;
  text-transform: none;
  -moz-border-radius: 2px;
  -moz-outline-radius: 2px;
  -webkit-border-radius: 2px;
}
/*
#search-box label,
#search-box a.advanced-search-link {
  display: none;
}
*/
#header-first {
  float: left;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  margin: 12px 30px 0 0;
  width: 380px;
}

#header-first #logo {                            /* logo postion.  default image replaced if you upload your own */
  float: left;
  margin: 0 14px 0 0;
}

#header-first h1 {    /* site name link */
  font-size: 3em;
  line-height: 80%;
  margin: 10px 0 15px 0;
}

#header-first h1 a {    /* site name link */
  text-decoration: none;
}

#header-last #slogan {                          /* site slogan */
  display: block;
  font-size: 17px;
  margin: 4px 0;
  color: #6D97C0;
  text-align:right;  
}

#header-middle {
  float: left;
  margin: 10px 20px 0 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#header-last {
  float: right;
  margin: 10px 0 0;
  width: 500px;
  clear: right;
}

#header-bottom {
  margin: 0 auto;
  position: relative;
  width: 960px;
  background: #271E14 none repeat scroll 0 0;
  padding: 5px 0px 5px 15px;
  z-index: 600;    /* fixes IE z-index bug */
  -moz-border-radius: 6px;
  -webkit-border-radius: 5px;
}


/********************************/
/* PREFACE REGIONS */
/********************************/

#preface {
  background: #271E14 none repeat scroll 0 0;
  height: 0px;
  padding-left: 15px;
  width:960px;
}

#preface-wrapper {
  color: #fff;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px 0 8px 0;
  width: 960px;
}

/* correct button font size */
#preface-wrapper .form-submit {
  font-size: 0.6em;
}

#preface-wrapper #preface-first {
}

#preface-wrapper #preface-middle {
}

#preface-wrapper #preface-last {
}

#preface-wrapper.prefaces-1 div.column {
  float: left;
  width: 100%;
}
  
#preface-wrapper.prefaces-2 div.column {
  display: inline;
  float: left;
  margin: 0 14px;
  width: 47%;
}
  
#preface-wrapper.prefaces-3 div.column {
  display: inline;
  float: left;
  margin: 0 14px;
  width: 30%;
} 

#preface-wrapper a:link,
#preface-wrapper a:visited {
  color: #fff;
  text-decoration: underline;
}

#preface-wrapper a:link:hover,
#preface-wrapper a:visited:hover {
  border-bottom: none;
  text-decoration: none;
}

div.content > a:link img {
  border-bottom: none;
  margin: 0;
  padding: 0;
}


/************************/
/*  MAIN AREA WRAPPER   */
/* (Sidebars + Content) */
/************************/

#main { 
  margin-top: -5px;
  padding-left: 15px;
}
#main-wrapper-all {

}
#main-wrapper-left {
  background:transparent url(images/bg_mainColumn.gif) repeat-y scroll left top;
  margin:0 auto;
  position:relative;
  text-align:left;
  width:978px;
}
#main-wrapper-top {
  background:transparent url(images/bg_middle_top.gif) no-repeat scroll left top;
  width:977px;

}
#main-wrapper{
 padding:11px 13px 26px;
  width:951px;
  background: transparent url(images/bg_middle_bottom.gif) no-repeat scroll left bottom;
}
#main-wrapper-in {

  background-color: #FFF;
background-color: #F4F7E7;
  color: #000;
 
}
#main-wrapper-in  a,
#main-wrapper-in a:link,
#main-wrapper-in a:visited {
  color: #27638C;
} 
#main-wrapper a.active {
  color: #144A6E;
  text-decoration: underline;
}

/*******************/
/* SIDEBAR REGIONS */
/*******************/

#sidebar-first {
  float: left;
}

#sidebar-last {
  background: transparent;
  float: right;
  margin: 0 0 0 10px;
}


/*******************/
/* CONTENT REGIONS */
/*******************/

#content-wrapper {
  float: left;
}

#content-top {
  margin: 20px;
  float: left;
}

#content {
  margin: 0 0 20px;               /* default spacing between content regions */
}

#content-inner {
}

#content-bottom {
  clear: both;
  margin: 20px 0 0;
}


/**********************************/

/* POSTSCRIPT REGIONS  */
/**********************************/

#postscript-wrapper {
  clear: both;
  margin: 0 auto;
  width: 960px;
}

#postscript-wrapper #postscript-first {
  padding-left: 0;
}

#postscript-wrapper #postscript-middle {
}

#postscript-wrapper #postscript-last {
  padding-right: 0;
}

#postscript-wrapper.postscripts-1 div.column {
  float: left;
  width: 100%;
}

#postscript-wrapper.postscripts-2 div.column {
  float: left;
  margin: 0 10px 0 8px;
  width: 48%;
}

#postscript-wrapper.postscripts-3 div.column {
  float: left;
  padding: 0 8px;
  width: 32%;
} 


/*****************/
/* FOOTER REGION */
/*****************/

#footer {
  border-top: 1px dashed #666;
  clear: both;
  display: block;
  font-size: 0.9em;
  margin:  10px auto;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  width: 960px;
  color:#FFF;
}
#footer-topx {
  margin: 10px auto;
  position: relative;
  width: 960px;
  overflow: hidden;
  padding: 10px;
  text-align:left;
  background: #FFF none repeat scroll 0 0;
  z-index: 600;    /* fixes IE z-index bug */
  -moz-border-radius: 6px;
  -webkit-border-radius: 5px;
}
#back-to-top {
  width: 80px;
  height: 30px;
  float: right;
  background: transparent url('images/blue-button.png') no-repeat left center;
  -moz-border-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  margin: 8px;
}


#footer-1{
  float:left;
  width:60px;
}
#footer-2{
  float:left;
  width:770px;
  padding: 0px 10px;
  text-align:center;
  background: #422F22 none repeat scroll 0 0;
  z-index: 600;    /* fixes IE z-index bug */
  -moz-border-radius: 6px;
  -webkit-border-radius: 5px;
}
#login-box a,
#footer a,
#footer-topx a{
  color:#FFF;
  text-decoration:none;
}
#login-box a:hover,
#footer a:hover,
#footer-topx a:hover{
  text-decoration:underline;
}



#footer ul {
  display: inline;
  margin: 0;
  padding: 0 0 0 9px;
}

#footer ul li {  
  background: transparent none repeat;
  border-left: 1px solid #CCC;
  display: inline;
  padding: 0 5px 0 9px;
}

#footer ul li.first {
  border: none;
}

#legal-notice {
  clear: both;
  color: #DDD;
  display: block;
  font-size: 0.9em;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

#legal-notice a {
  color: #6699CC;
}



/****************************************/
/*          COLUMN LAYOUTS              */
/*                                      */
/* Classes for different column layouts */
/* that are applied to the <body> tag.  */
/****************************************/

/************************/
/* SINGLE COLUMN LAYOUT */
/* (Main Content)       */
/************************/

body.layout-main #content-wrapper {
  margin: 20px 15px 0 15px;
  width: 920px;
}


/**************************/
/*   TWO COLUMN LAYOUT    */
/* (Sidebar:Main Content) */
/**************************/

body.layout-first-main #sidebar-first {
  margin:20px 10px 20px 10px;
  width:220px;
}

body.layout-first-main #content-wrapper {
  margin: 20px 15px 0 0;
  width: 690px;
}


/**************************/
/*   TWO COLUMN LAYOUT    */
/* (Main Content:Sidebar) */
/**************************/

body.layout-main-last #content-wrapper {
  margin: 20px 10px 20px 10px;
  position: relative;
  width: 930px;
  z-index: 1;
}

body.layout-main-last #sidebar-last {
  background-color: transparent;
  margin: 100px 10px 10px 10px;
  width: 260px;
  overflow: hidden;
  float: right;
}


/**********************************/
/*      THREE COLUMN LAYOUT       */
/* (Sidebar:Main Content:Sidebar) */
/**********************************/

body.layout-first-main-last #sidebar-first {
  margin: 20px 20px 20px 5px;
  width: 220px;
}

body.layout-first-main-last #content-wrapper {
  margin: 20px 15px 0 0;
  width: 690px;
}

body.layout-first-main-last #content-wrapper #content-inner {
}

body.layout-first-main-last #content-wrapper #sidebar-last {
  background-color: #F4F7E7;
  margin: 0;
  padding: 0 0 0 20px;
  width: 280px;
}

body.full-node.layout-first-main-last #sidebar-last {
  margin: 0;
}


/******************/
/* HELPER CLASSES */
/******************/

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix:after {                                 /* add .clearfix class to clear floats after an element */
  clear: both;                                    /* (IE version is in ie6-fixes.css) */
  content: "."; 
  display: block;
  font-size: 0;
  height: 0; 
  visibility: hidden;
}


/************/
/* HEADINGS */
/************/

h1.title {                                        /* page titles */
  border-bottom: 1px solid #D6DDB9;
  clear: left;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.833em;
  font-weight: 600;
  line-height: 1.272em;
}  

h2.title {                                        /* block titles, node titles */
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.333em;
  font-weight: 600;
  text-transform: uppercase;
}  

h2.title a:link,
h2.title a:visited {
}  


h2.title a:hover,
h2.title a:active {
  color: #619CBE;
  text-decoration: none;
}  

div.node h2.title {
  border-bottom: 1px solid #d6ddb9;
}

/*********/
/* NODES */
/*********/

div.node {
  margin: 0 0 30px;
}

#content-content .node ul.links li,
#content-content .node ul.inline li,
#content-content .node .links a {
  background: transparent;
  margin: 0;
  padding: 0 14px 0 0;
}

div.node .read-more a,
div.node .more-link a,
div.node .links a {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}  

#content-content .node ul.links li.comment_forbidden a {
  padding-right: 4px;
}

.submitted,
.terms {                                      /* styling for byline and tags */
  font-size: 0.9em;
}

.vocab-name {
  font-weight: bold;
}

.terms {
  line-height: 130%;
}

#content-content .terms ul.taxonomy li {
  background: transparent;
  margin: 10px 0 5px;
  padding: 0;
}

#content-content .terms ul.taxonomy ul.vocab-list,
#content-content .terms ul.taxonomy li.vocab-term {
  background: transparent;
  display: inline;
  padding: 0 0 0 2px;
}

.submitted a:link {
}

.submitted a:visited,
.submitted a:hover,
.submitted a:active {
}

blockquote {
}

div.node.full-node div.content {
  border-bottom: 1px solid #D6DDB9;
}

.node-form .standard {
  clear: none;
}

.picture {
  float: right;
  margin: 0 0 2px 4px;
  padding: 2px;
}

/**********/
/* BLOCKS */
/**********/

div.block {
  position: relative;
}

div.block-region {
  background-color: #FFFF66;
  color: #000;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 3px;
  text-align: center;
}

div.block .title {
}

div.block .submitted {                               /* byline styles in blocks */
}

div.block .submitted a:link {
}

div.block .submitted a:visited,
div.block .submitted a:hover,
div.block .submitted a:active {
}

div.block-wrapper {                    /* spacing between blocks */
  margin: 5px 0;
}

div.block div.content {
  overflow: hidden;
}

#user-login-form .item-list ul li,
div.terms ul li {
  list-style-type: none;
  margin: 2px 0 0 16px;
}


#header-middle h2.block-title,
#header-last h2.block-title {
  color: #51748C;
  font-size: 1.833em;
  margin: 0;
  padding: 0;
}


body.layout-first-main-last #sidebar-first .block-wrapper,
body.layout-first-main-last #sidebar-last .block-wrapper {
  margin: 0 0 10px;
}

/* rounded blocks styles -= layout-first-main-last & layout-first-main blocks */
#sidebar-first h2.block-title,
#sidebar-last h2.block-title{
  background:transparent url(images/bg_boxheader2.gif) no-repeat scroll left top;
  color: #fff;
  height:26px;
  padding: 8px 8px 6px 46px;
  text-align: right;
  text-shadow: #545454 1px 1px; 
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
#sidebar-second h2.block-title{
  background:none;
  color: #000;
  height:26px;
  padding: 8px;
  text-align: left;
  text-shadow: #545454 1px 1px;
}
#postscript-wrapper h2.block-title {
  text-align: left;
  text-shadow: #545454 1px 1px; 
  color:#AFC336;
  font-size:14px;
}


#sidebar-first div.block div.content,
{
  background:transparent url(images/bg_shopping_cart_totals.gif) repeat scroll left top;
  border-bottom: 0px solid #F1F5F7;
  color:#666;
  padding: 10px 10px 8px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px; 
}
#sidebar-second div.block div.content{
  background:none;
  border-bottom: 1px dashed #DDD;
  color:#666;
  padding: 10px 10px 8px;
}
#postscript-wrapper div.block div.content {
  color:#999;
  padding: 10px 10px 8px;
}
#postscript-wrapper div.block div.content a{
  color:#FFF;
  text-decoration:none;
}
#postscript-wrapper div.block div.content a:hover{
  text-decoration:underline;
}

/* non-rounded blocks styles = prefaces & layout-main-last blocks */
#preface-wrapper div.block div.content,
body.layout-main-last #sidebar-last div.block div.content {
  border: none;
}

body.layout-main-last #sidebar-last div.block-wrapper {
  margin: 0 0 30px;
}

#preface-wrapper div.block div.content,
#footer div.block div.content {
  background: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
}

body.layout-main-last #sidebar-last div.block div.content {
  padding: 6px;
}

body.layout-main-last #sidebar-last h2.block-title {
  background: transparent; 
  color: #333;
  padding: 0;
  text-align: left;
  text-shadow: none;
  width: 400px;
}
#footer-topx h2.block-title ,
#footer h2.block-title {
  background: transparent;
  color: #AFC336;
}

#sidebar-first #block-search-0 .form-item label,
#sidebar-last #block-search-0 .form-item label {
  display: none;
}



#sidebar-second div.block ul li,
#sidebar-second div.block ul.menu li 
#sidebar-second div.block ul.menu li:active{
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin: 0px;
  clear:both;
  float:left;
  position:relative;
  z-index:100;
  background:transparent url(images/h_separator.gif) repeat-x scroll left top;
}
#sidebar-second div.block ul li a,
#sidebar-second div.block ul.menu li a {								
  font-size: 1em;
  font-weight: bold;
}

#sidebar-second div.block ul.menu li a:link,
#sidebar-second div.block ul.menu li a:visited {
  color:#6D97C0;
  display:block;
  float:left;
  font-size:14px;
  font-weight:bold;
  padding:10px 5px 0px 10px;
  text-decoration: none;
  width:140px;
}
#sidebar-second div.block ul.menu li:hover{
  background: #B0C436 url(images/h_separator02.gif) repeat-x  bottom left;
}

#sidebar-second div.block ul.menu li a:hover{
  text-decoration: none;
  color:#FFF;
}


/***************/
/* BLOCK MENUS */
/***************/

div.block ul li a,
div.block ul.menu li a {								
  font-size: 1em;
  font-weight: bold;
}

div.block ul.menu li,
div.block .item-list ul li {
  margin: 0;
}

div.block ul.menu li a:link,
div.block ul.menu li a:visited {
}

div.block ul.menu li a:hover,
div.block ul.menu li a:active {
}

#footer div.block ul li a,
#footer div.block ul.menu li a {
  font-weight: normal;
}


/*****************************************/
/* ROUNDED CORNERS FOR BLOCKS (optional) */
/*****************************************/

div.rounded-block {
  margin-top: -1px;                               /* use negative margin to overlap stacked blocks */
}

p.rounded-topspace {
  margin-top: -14px;                                  /* removes unwanted space */
}

p.rounded-bottomspace {
  margin-bottom: -10px;                               /* removes unwanted space */
}

div.rounded-block-top-left, 
div.rounded-block-top-right, 
div.rounded-block-bottom-left, 
div.rounded-block-bottom-right { 
  background: transparent url('images/rounded-block.png') no-repeat;                         /* combined rounded corner image */
  font-size: 2px;                                 /* IE div correction */
  height: 11px;                                   /* height of an image corner */
}

body.layout-main-last #sidebar-last div.rounded-block-top-left, 
body.layout-main-last #sidebar-last div.rounded-block-top-right, 
body.layout-main-last #sidebar-last div.rounded-block-bottom-left, 
body.layout-main-last #sidebar-last div.rounded-block-bottom-right { 
  background: none;
  font-size: inherit;
  height: auto;
}

div.rounded-block-top-left, 
div.rounded-block-bottom-left { 
  margin-right: 11px;                             /* width of an image corner */
}

div.rounded-block-top-right {                        /* anchor image in top right */
  background-position: 100% 0;
}

div.rounded-block-top-right,
div.rounded-block-bottom-right { 
  margin-left: 11px;                              /* width of an image corner */
  margin-top: -11px;                              /* height of an image corner */
}

body.layout-main-last #sidebar-last div.rounded-block-top-right,
body.layout-main-last #sidebar-last div.rounded-block-bottom-right { 
  margin: 0;
}

div.rounded-block-bottom-left  { 
  background-position: 0 -11px;                   /* negative height of an image corner */
}

div.rounded-block-bottom-right { 
  background-position: 100% -11px;                /* negative height of an image corner */
}

div.rounded-outside,
div.rounded-inside {
  background: transparent url('images/rounded-block-inner.png') repeat-y right;
  padding-right: 8px;
}

body.layout-main-last #sidebar-last div.rounded-outside,
body.layout-main-last #sidebar-last div.rounded-inside {
  background: none;
  margin: 0;
  padding: 0;
}

div.rounded-inside {
  background-position: left;
  padding: 0 0 0 8px;
}

/****************/
/* TOP MENU */
/****************/
.tip{
  color: #999; /*#AFC336;*/
  display:block;
  font-size:10px;
  clear: both;
}
#primary-links .tip {
  color: #AFC336;
}
#primary-links {
  color: #FFF;
  font-size: 1.2em;
  line-height: 20px;
}
#primary-links .title {
  float: left; /* LTR */
  color: #FFF;
  font-weight: bold;
  
  padding: 0 0 0 10px; /* LTR */
}
#primary-links ul {
  float: left; /* LTR */
  list-style: none;
}
#primary-links ul li {
  float: left; /* LTR */
  background: none;
  margin: 0px 10px;
  padding: 0px 10px;
  text-align: center;
}
#primary-links ul li  #active-trail {
  background: #422F22 none repeat center top;
}
#primary-links ul li a:link,
#primary-links ul li a:visited {
  float: left;
  color: #FFF;
  margin: 0px auto -10px auto;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
#primary-links ul li a:hover {
  color: #F60;
}
#primary-links ul li a.active,
#primary-links ul li a.active:hover {
  color: #FFF;  
}

#primary-links ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
 

/****************/
/* PRIMARY MENU */
/****************/
  
#primary-menu ul.links li {                       /* text styling for the top (primary) menu */
}  

#primary-menu ul.links li.first {                 /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li.last {                  /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li a:link,
#primary-menu ul.links li a:visited {
}

#primary-menu ul.links li a:hover,
#primary-menu ul.links li a:active {
}  
  

/************************************/
/* PRIMARY MENU WITH DROPDOWNS      */
/* - used with menu_tree theming of */
/* $primary_links in page.tpl.php   */
/************************************/

#primary-menu ul.menu li {                        /* top item layout */
  background: transparent url('images/tab-left.png') no-repeat left 0;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0 0 0 0.833em;    /* 0 0 0 10px */
  position: relative;
  width:  auto;
}

#primary-menu ul.menu li:hover,
#primary-menu ul.menu li.hover,
#primary-menu ul.menu li.active-trail {
  background-position: left -29px;
}

#primary-menu ul.menu li a {
  background: transparent url('images/tab-right.png') no-repeat right 0;
  color: #154B70;
  display: block;
  padding: 0.416em 0.833em 0.083em 0;    /* 5px 10px 1px 0 */
  text-decoration: none;
}

#primary-menu ul.menu li a:hover,
#primary-menu ul.menu li:hover a,
#primary-menu ul.menu li.hover a,
#primary-menu ul.menu li.active-trail a {
  background-position: right -29px;
  color: #fff;
}

#primary-menu ul.menu li ul {
  background: transparent url('images/drop-bottom.png') no-repeat 0 bottom;
  left: -999em;
  opacity: 0.95;
  margin: 0 0 0 -10px;
  padding: 2px 0 4px;
  position: absolute;
  width: 144px;
  z-index: 2;
}
  
#primary-menu ul.menu li:hover ul,
#primary-menu ul.menu li.hover ul {
  display: block;
  left: auto;
}
  
#primary-menu ul.menu li ul li {
  background: #94CE18;
  border-bottom: 1px solid #83A638;
  float: left;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.916em;
  height: auto;
  margin: 0;
}

#primary-menu ul.menu li ul li.last {
  border-bottom: none
}

#primary-menu ul.menu li ul li a,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited {
  background: transparent;
  color: #154B6F;
  display: block;
  margin: 0;
  padding: 4px 0;
  text-transform: none;
  width: 135px;
}

#primary-menu ul.menu li ul li a:hover {
  color: #fff;
  display: block;
  margin: 0;
  padding: 4px 0;
  text-decoration: none;
}

#primary-menu ul.menu li ul li ul.menu {
  left: -999em;
  margin: 0 0 0 -14px;
  padding: 6px 0 4px;
}

#primary-menu ul.menu li ul li:hover ul.menu,
#primary-menu ul.menu li ul li.hover ul.menu {
  display: block;
  left: 154px;
  top: -6px;
}

#primary-menu ul.menu li ul li ul.menu li a {
  padding: 4px;
  width: 128px;
}
  
/******************/
/* SECONDARY MENU */
/******************/

#secondary-menu {
}


/***********/
/* MISSION */
/***********/

#mission {
  float:right;
  color:#FFF;
  font-size:12px; 
  font-style: italic;
  padding: 7px;
}

/***************/
/* BREADCRUMBS */
/***************/
#breadcrumb-nav {
  margin:2px auto;
  width:960px;
  padding-left:15px;
}
#breadcrumb {
  font-size:14px;
  line-height:100%;
  float:left;
}
#breadcrumb a
{ 
  color:#AFC336;
  text-decoration:none;
}
#breadcrumb a:hover {
  text-decoration:underline;
}

body.layout-main-last #breadcrumb {
  left: 0;
}

.breadcrumb {
  margin: 10px auto;
  padding: 0;
}

/********/
/* TABS */
/********/

/* styling for node tabs (e.g., View, Edit) */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 0 0 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  clear: left;
  float: left;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  background: transparent;
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #27638C;
  float: left;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #27638C;
  font-size: 1em;
  line-height: 1.1em;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #94CE18;
  color: #27638C;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #94CE18;
  color: #27638C;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
  border-bottom: 4px solid #94CE18;
  color: #4A95C8;
  padding-bottom: 2px;
}

/*********/
/* FORMS */
/*********/

form {
  margin: 0;
  padding: 0;
}

select.form-select,
input.form-text,
textarea.form-textarea {                                      /* default styling for all text fields */
  background: #F6F9FB url('images/form-bg.png') left top;
  color: #666666;
  border: 1px solid #9BABB0;
  padding: 2px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

body.layout-first-main-last select.form-select,
body.layout-first-main-last input.form-text,
body.layout-first-main-last textarea.form-textarea,
body.layout-first-main-last div.resizable-textarea,
body.layout-first-main-last div.resizable-textarea .grippie {
  max-width: 325px;
}

input.form-submit,
input.teaser-button {                                    /* default styling for all form buttons */
  background: transparent url('images/blue-button.png') no-repeat left center;
  border: 0px;
  color: #fff;
  cursor: pointer;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.916em;
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 4px;
  text-transform: uppercase;
  outline: 1px solid #9BABB0;
  -moz-border-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 4px;
}

input.form-submit:hover,
input.teaser-button:hover  {
  background-position: right center;
  cursor: pointer;
}  

fieldset {
  border: 1px solid #D6DDB9;
  margin: 15px 0;
  padding: 10px;
}

fieldset.collapsed {
}

fieldset legend {
  font-weight: bold;
}

html.js fieldset.collapsible legend a {
  font-weight: bold;
}

form#system-theme-settings select,
form#system-theme-settings input.form-text {
  width: 95%;
}

#user-login-form {
  text-align: left;
}

div.form-item label {
  font-weight: normal;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

/**********/
/* PAGERS */
/**********/
#main-wrapper .item-list .pager {
  clear: both;
  margin: 0 0 20px;
  text-align: center;
}

#preface-wrapper .item-list .pager li,
#main-wrapper .item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 2px;
}

#main-wrapper .item-list .pager a.active {
  color: #27638C;
  font-size: 1em;
  font-weight: bold;
  padding: 4px;
  text-decoration: none; 
}

#main-wrapper .pager li.pager-current {
  background-color: #D9DBCD;
  border: 1px solid #266996;
  color: #333;
  margin: 0 4px;
  padding: 4px;
}

#main-wrapper .pager-first,
#main-wrapper .pager-next,
#main-wrapper .pager-previous,
#main-wrapper .pager-item,
#main-wrapper .pager-last {
  background-color:#FDFFEF;
  border: 1px solid #266996;
  margin: 0 4px;
  padding: 4px;
}

#main-wrapper .pager-first:hover,
#main-wrapper .pager-next:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-item:hover,
#main-wrapper .pager-previous:hover,
#main-wrapper .pager-last:hover {
  background-color: #EAEFCB;
}


/**********/
/* TABLES */
/**********/

table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 100%;
}

.layout-first-main-last table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 57%;
}

th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #CCC;
}

tr {
  padding: 0.1em 0.6em;
}

td {
  padding: 3px;
}

th.active img {
  display: inline;
}

tr.even td {
  background-color: #E3ECC0;
  border-bottom: 1px solid #CCC;
}

tr.odd td {
  background-color: #FDFFEF;
  border-bottom: 1px solid #CCC;
}

td.active {
  
}

tbody {
  border-top: 1px solid #CCC;
}

tbody th {
  border-bottom: 1px solid #CCC;
}

thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #CCC;
}


/*******************/
/* DRUPAL MESSAGES */
/*******************/

.node-unpublished {
  background-color: #FFF4F4;
}

.preview {
  background-color: #FFFFEA;
  padding: 10px;
}

.description {
}

div.messages {
  background: #FFFCE3;
  border: 1px solid #EED300;
  color: #C28E00;
  font-size: 1em;
  margin: 20px 0pt;
  padding: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #656C9B;
}

div.error {
  background-color: #FFF2F2;
  border-color: #FF0000;
  color: #B20000;
}

.status {
}

.help {
}

.help .more-help-link {
}

.marker {
}

.tips {

}


/*--------------------------------*/
/*---- MODULE SPECIFIC STYLES ----*/
/*--------------------------------*/

/*******************/
/* BOOK NAVIGATION */
/*******************/

.book-navigation .menu {
  border-top: 1px solid #CCC;
  padding: 1em 0 0 3em;
}
.book-navigation .page-links {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
  padding: 0.5em;
}

/********/
/* BLOG */
/********/


/************/
/* COMMENTS */
/************/
#comments {
  clear: both;
}

#comments h2.comments {
  background-color: #94CE18;
  color: #fff;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 1.333em;
  font-weight: 600;
  padding: 6px 14px 6px 52px;
  text-shadow: #545454 1px 1px;
  text-transform: uppercase;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

#comments .content {
  background: transparent;
  border: none;
}

#main-wrapper #comments a.active {
  color: #27638C;
  text-decoration: none;
}

.box {
  padding: 10px;
}

#comment-form {
  margin: 0 0 20px;
  padding: 0 20px;
}

.comment {
  border: none;
  margin: 6px 0 0;
  padding: 10px;
}

.comment h3.title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.comment .links a {
  font-size: 0.9em;
  text-align: right;
}

#comments .odd {
  background-color: #F4F7E7;
  border: 1px solid #ddd;
}

#comments .even {
  background-color: #fff;
}

#comments .comment-by-author {
  background-color: #FFFFEA;
}

.comment ul.links {
  text-align: right;
  clear: right;
}

#content-content .comment ul.links li {
  background: transparent;
  margin: 0 10px 0 0;
  padding: 0;
}

.signature p {
  border-top: 1px solid #d6ddb9;
  font-family: serif;
  font-size: 0.916em;
  margin: 10px 0;
  padding: 0;
}

.content blockquote p {
  margin: 0;
  padding: 0 20px 8px;
}

blockquote {
  background: url('images/close-quote.gif') no-repeat right bottom;
  color: #023562;
  margin: 10px 0;
}

blockquote :first-child {
  background: url('images/open-quote.gif') no-repeat left top;
  padding: 10px 0 0 20px;
}

/**********/
/* FORUMS */
/**********/

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created, 
#forum td.posts, 
#forum td.topics, 
#forum td.last-reply,
#forum td.replies, 
#forum td.pager {
  white-space: nowrap;
}
#forum td.posts, 
#forum td.topics, 
#forum td.replies, 
#forum td.pager {
  text-align: center;
}
.forum-topic-navigation {
  padding: 1em 0 0 3em;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}
.forum-topic-navigation .topic-previous {
  text-align: right;
  float: left;
  width: 46%;
}
.forum-topic-navigation .topic-next {
  text-align: left;
  float: right;
  width: 46%;
}

/**********/
/* PANELS */
/**********/

.tnt-panel .panel-preface-wrapper,
.tnt-panel .panel-postscript-wrapper {
}

.tnt-panel .panel-preface-first,
.tnt-panel .panel-postscript-first {
}

.tnt-panel .panel-preface-last,
.tnt-panel .panel-postscript-last {
}


/****************************************************/
/* TNT ROUNDED CORNERS FOR PANELS MODULE (optional) */
/****************************************************/

.tnt-panel {
  margin-top: 15px;
}

.tnt-panel .panel-panel {
  margin: 0 0 10px 0;
}

.rounded_corner .wrap-corner { 
  background-color: transparent !important;
}

.rounded_corner .wrap-corner .t-edge, 
.rounded_corner .wrap-corner .b-edge { 
  background-image: none;
}

.rounded_corner .wrap-corner .l-edge,
.rounded_corner .wrap-corner .r-edge {
  background-image: none !important;
}
 
.rounded_corner .wrap-corner .l-edge {
  border-left: 1px solid #cce2a3;                           /* left inside border color & width */
  border-right: 1px solid #cce2a3;                          /* right inside border color & width */
  background: #FFF;
  color: #000;
  padding-bottom: 1px;                  /* prevents gap in FF when an inner element has bottom padding */
  padding-left: 10px;
  padding-right: 10px;
}

.rounded_corner .wrap-corner .r-edge {
  padding: 0;
}

.rounded_corner .wrap-corner .t-edge .l, 
.rounded_corner .wrap-corner .t-edge .r, 
.rounded_corner .wrap-corner .b-edge .l, 
.rounded_corner .wrap-corner .b-edge .r { 
  background-image: none;                                   /* combined rounded corner image */
  font-size: 2px;                                           /* IE div correction */
  height: 11px;                                             /* height of an image corner */
  position: static;
  width: auto;
}

.rounded_corner .wrap-corner .t-edge .l, 
.rounded_corner .wrap-corner .b-edge .l { 
  margin-right: 11px;                                       /* width of an image corner */
}

.rounded_corner .wrap-corner .t-edge .r {                   /* anchor image in top right */
  background-position: 100% 0;
}

.rounded_corner .wrap-corner .t-edge .r,
.rounded_corner .wrap-corner .b-edge .r { 
  margin-left: 11px;                                        /* width of an image corner */
  margin-top: -11px;                                        /* height of an image corner */
}

.rounded_corner .wrap-corner .b-edge .l  { 
  background-position: 0 -11px;                             /* negative height of an image corner */
}

.rounded_corner .wrap-corner .b-edge .r { 
  background-position: 100% -11px;                          /* negative height of an image corner */
}


/*********/
/* POLLS */
/*********/

.poll .bar {                                      /* styles for poll ratings */
  background-color: #DDD;
}

.poll .bar .foreground {
  background-color: #999;
  float: none;
}


/************/
/* PROFILES */
/************/

.profile {
  clear: none;
  margin: 12px 0;
}

.profile h2.title {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.profile dt {
  float: left;
  margin-bottom: -10px;
  padding: 0 5px;
  text-align: left;
  width: 185px;
}

.layout-first-main-last .profile dd {
  margin: 15px 5px 0 120px;
}

.layout-first-main-last .profile dt {
  width: 100px;
}

/******************/
/* SEARCH RESULTS */
/******************/


/*********/
/* VIEWS */
/*********/

.view .view-comments-recent .views-field-subject {
  font-weight: bold;
}

.view .view-style-node{
}

.view .view-style-teaser{
}

.view .view-style-list{
}

.view .view-style-table{
}

.view .views-admin-links li {
  background: transparent !important;
}


/***************/
/* PRINT STYLE */
/***************/

@media print {
  body {
    background: white;
    font-size: 10pt;
  }
   
  #header,
  #header-top,
  #header-wrapper,
  #header-bottom,
  #sidebar-first,
  #sidebar-last,
  #preface-wrapper,
  #content-tabs,
  #mission,
  #slogan,
  #postscript-wrapper,
  #footer-top,
  #footer,
  #primary-menu,
  #search-box,
  #logo {
    display: none;
  }

  #page,
  #main-wrapper,
  #content-wrapper,
  #content-top,
  #content,
  #content-bottom {
    background: transparent none;
    border: 0;
    color: black;
    float: none !important;
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  #content-wrapper {
    margin: 0 3%;
  }
}

.teaser h2{
  background: #EAE8D3 none repeat scroll 0 0; 
  padding: 5px;
}
.teaser h2 a,
.teaser h2 a:link,
.teaser h2 a:visited {
  font-size: 16px;
  color: #382E22;
  font-weight: normal; 
}






.exhbit-lens{
  margin: 4px;
}
.exhibit-head {
  background-color: #382E22;
  color:#fff;
  padding:3px;
  text-align:center;
}
.exhibit-head a,
.exhibit-head a:link,
.exhibit-head a:visited{
  color: #fff;
  text-align:center;
  text-decoration:none;
}
.exhibit-head a:hover{
  text-decoration:underline;
}

.exhibit-title {
  color: #fff;
  text-align:center;
  text-decoration:none;
  font-size:   120%;
}
.exhibit-year {
  font-style:  italic;
  font-size:   80%;
}
.exhibit-terms{
  font-weight: bold; 
  font-size:   80%;
  color:#AFC336;
}
.exhibit-body{
  padding: 6px;
  color: #382E22;
  background: #EAE8D3 none repeat scroll 0 0;
}
.exhibit-body a,
.exhibit-body a:link,
.exhibit-body a:visited{
  color: #382E22;
  text-decoration:none;
}
.exhibit-body a:hover{
  text-decoration:underline;
}

















div.exhibit-thumbnail-outer{
  border: none;
  width:300px;
  background-color: #EAE8D3;
  margin:4px;
  padding:15px;
  -moz-border-radius:5px;
  -webkit-border-radius:4px;
}
  -moz-border-radius:5px;
  -webkit-border-radius:4px;
  text-align:center;
}
div.exhibit-thumbnail-date{
  font-size: 70%;
  font-style: italic;
  text-align: left;
  margin-bottom: 3px;
}
div.exhibit-thumbnail-title{
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  color: #382E22;
  padding: 4px 0px;
}
.exhibit-thumbnail-terms{
  font-size: 80%;
  text-align: right;
  font-weight: bold;
  color:#999;
}
div.exhibit-thumbnail-body{
  padding: 20px 5px;
  font-size: 10px;
  text-align: justify;
}


div.exhibit-image-img img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color:white;
  border:1px solid #CCCCCC;
  padding:5px;
}

div.exhibit-image-outer{
  border: none;
  text-align:center;
  background:transparent;
  margin:15px;
  padding:5px;
}
div.exhibit-image-title{
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  padding:5px;
  background: transparent url('images/blue-button.png') no-repeat left center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 6px;
}

div.exhibit-image-terms{
  font-size: 80%;
  text-align: right;
  text-align: center;
  font-weight: bold;
  color:#999;
}




.exhibit-teaser-outer{
  border: none;
  padding:3px;
  margin-bottom:20px;
}
.exhibit-teaser-date{
  text-align: left;
  margin-bottom: 3px;
}
.exhibit-teaser-author{
  font-style: italic;
  text-align: left;
  margin-bottom: 3px;
}
.exhibit-teaser-title{
  font-size: 130%;
  font-weight: bold;
  text-align: left;
}
.exhibit-teaser-terms{
  font-size: 80%;
  color: #999;
  text-align: left;
  font-weight: bold;
}
.exhibit-teaser-body{
  text-align: justify;
}
